.wrapper {
    width: 100%;
}

.main-header {
    display: none;
}

.sidebar {
    position: absolute;
    margin-top: 10px;
}

.main-panel>.content-view-wrapper {
    margin-top: 10px;
    overflow: auto;
    max-height: 100vh;
}