.wrapper {
    width: 100%;
}

.main-header {
    display: none;
}

.sidebar {
    position: absolute;
    margin-top: 10px;
}

.main-panel>#content-view-wrapper {
    margin-top: 10px;
    overflow: auto;
    max-height: 100vh;

    -webkit-transition: opacity 3s ease-in-out;
    -moz-transition: opacity 3s ease-in-out;
    -ms-transition: opacity 3s ease-in-out;
    -o-transition: opacity 3s ease-in-out;
    transition: opacity 3s ease-in-out;
}